* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

html {
    font-size: 60%;
    overflow-x: hidden;
}
  
body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 12% 10rem;
}

span {
    color: var(--main-color);
}

.heading {
    font-size: 8rem;
    text-align: center;
    margin: 5rem 0;
}

.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background: transparent;
    border: 2px solid var(--main-color);
    font-size: 2.5rem;
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease-in-out;
}
  
.social-icons a:hover {
    color: var(--text-color);
    transform: scale(1.3)translateY(-5px);
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
}
  
.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: black;
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
  
.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 50px var(--main-color);
}
  
.btn-group {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
  
.btn-group a:nth-of-type(2) {
    background-color: black;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    box-shadow: 0 0 25px transparent;
}
  
.btn-group a:nth-of-type(2):hover {
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
    color: black;
}

.secondary-title {
    font-size: 4rem;
    font-weight: 700;
    color: var(--text-color);
}
  
.tertiary-title {
    font-size: 4rem;
    font-weight: 700;
    color: var(--text-color);
}
  
.mb-m {
    margin-bottom: 3rem;
}
  
.mb-l {
    margin-bottom: 4rem;
}
  
.mb-s {
    margin-bottom: 1rem;
}
  
.max-width {
    max-width: 1200px;
    margin: 0 auto;
}

::-webkit-scrollbar {
    width: 15px;
}
  
::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}
  
::-webkit-scrollbar-track {
    background-color: var(--bg-color);
    width: 50px;
}
