.skills {
    background: var(--bg-color);
    color: var(--text-color);
    padding: 100px 15px;
}
  
.skills__content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}
  
.description {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    max-width: 800px;
}
  
.skills__list {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
}
  
.skills__item {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-size: 1.3rem;
    background: var(--second-bg-color);
    border-radius: 2rem;
    padding: 4rem;
    align-items: center;
    text-align: center;
    width: 250px;
    transition: 0.3s ease-in-out;
}
  
.skills__item:hover {
    transform: translateY(-10px) scale(1.03);
    box-shadow: 0 0 50px var(--main-color);
}
  
.image-container {
    width: 8rem;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 50%;
}
  
.image-container img {
    width: 5rem;
    height: 5rem;
    background: transparent;
}